body{
  background-color: #68dce2 !important;
}
.navbar{
  background-color: #172943;
  padding: .6rem 4rem;
}
.navbar-nav .nav-link{
  color: white !important;
  font-weight: 500;
  font-size: 17px;
  transition: .3s ease;
}
.navbar-nav .nav-item{
  margin: 0px 15px;
}
.navbar-nav .active a{
  color: rgb(209, 209, 209) !important;
}
.navbar-nav .nav-item a:hover{
  color: rgb(209, 209, 209) !important;
}
.logo{
  width: 20%;
  height: auto;
}

#sliders {
  height: 400px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.gallery-header {
  display: none;
}

.slider-item {
  display: none;
}

.img-thumbnail {
  cursor: pointer;
}

.added {
  border: 2px solid #1e1743;
  border-radius: 5px;
}

img {
  height: 400px;
  object-fit: cover;
}

.prev-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.prev, .next {
  background-color: transparent;
  padding: 8px 10px;
  color: #fff;
}
.dots{
  width: 60%;
  margin-left: 13.9rem;
  background-color: #68dce2 !important;
}

.dot {
  background-color: rgb(163, 156, 156);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
}

.main {
  display: none;
}
.alert{
  text-align: center;
  font-size: 17px;
  color: red;
  font-weight: 600;
  width: 100%;
  margin-bottom: 0px;
  margin-top: -16px;
}
.search-title{
  margin-top: 2rem;
}
.search-title h4{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  /* margin-bottom: .5rem; */
  margin-top: -1rem;
}
.head-title{
  font-size: 1.4rem;
}

/* Mobile NavBar */
.mobile-menu span {
  color: #fff;
  font-size: 4rem;
  float: right;
  display: none;
}
.mobile-menu span:hover {
  cursor: pointer;
}
.overlay {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}
.overlay a {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #999;
  padding: 1rem 0;
}
.overlay a:hover {
  color: #fff;
}
.overlay .closeBtn {
  position: absolute;
  top: 0rem;
  right: 4.5rem;
  font-size: 5rem;
}
.mobile-menu span {
  margin-top: 0;
  line-height: 1;
}
/* /.Mobile NavBar  */


@media  (max-width: 991px) {
  .navbar-nav{
    display:none ;
  }
  .mobile-menu span{
    display: block;
    font-size: 45px;
    margin-top: -5px
  }
  .navbar {
    padding: .6rem 2rem;
  }
  .overlay .closeBtn {
    top: -2rem;
    right: 1rem;
  }
  .overlay a{
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 641px) and (max-width: 991px){
  .navbar-brand{
    width: 81%;
  }
  .logo{
    width: 34%;
    height: auto;
  }
}
@media only screen and (max-width: 640px){
  .navbar-brand{
    width: 70%;
  }
  .logo{
    width: 70%;
    height: auto;
  }
  .mobile-menu span{
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
    flex-direction: column;
  }
  #sliders {
    height: 300px;
    width: 90%;
  }
}